<div class="double_list_label">{% trans from "Admingenerator" %}double_list.unselected{% endtrans %}</div>
<select multiple="true" id="{{ form.vars.id }}_unselected" class="double_list_select-unselected">
{% for choice in choices %}
    {% if choice is not selectedchoice(value) %}
        <option value="{{ choice.value }}">{{ choice.label }}</option>
    {% endif %}
{% endfor %}
</select>