generator: {{ generator }}
params:
    model: {{ namespace }}\{{ model_folder }}\{{ model_name }}
    namespace_prefix: {{ namespace_prefix }}
    concurrency_lock: ~
    bundle_name: {{ bundle_name }}
    pk_requirement: ~
    fields: ~
    actions:
        export:
            label: Експортувати таблицю
    object_actions:
        delete: ~
    batch_actions:
        delete: ~

builders:
    list:
        params:
            title: List for {{ bundle_name }}
            display: ~
            actions:
                new: ~
                export: {{ export }}
            object_actions:
                edit: ~
                delete: ~
    filters:
        params:
            display: ~
    new:
        params:
            title: New object for {{ bundle_name }}
            display: ~
            actions:
                save: ~
                list: ~
    edit:
        params:
            title: "You're editing the object \"%object%\"|{ %object%: {{ model_name }}.title }|"
            display: ~
            actions:
                save: ~
                list: ~
    show:
        params:
            title: "You're viewing the object \"%object%\"|{ %object%: {{ model_name }}.title }|"
            display: ~
            actions:
                list: ~
                new: ~
    actions:
        params:
            object_actions:
                delete: ~
            batch_actions:
                delete: ~