{% use '../CommonAdmin/NestedListTemplate/modal.php.twig' %}
{% use '../CommonAdmin/ListTemplate/scopes.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/title.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
    <script type="text/javascript" src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/treeTable/jquery.treeTable-extended.js")') }}"></script>
    <script type="text/javascript" src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/nestedset.js")') }}"></script>
{{ echo_endblock() }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    {{ echo_block("page_title") }}
        <header>
           <h1>{{ echo_trans(title,{}, i18n_catalog|default("Admin") ) }} ({{ echo_twig(builder.ModelClass ~ "s.count - 1") }})</h1>
       </header>
    {{ echo_endblock() }}

    <div class="form_admin">
        <div class="{% if builder.filterColumns|length == 0 %} span12 {% else %} span9 {% endif %}">
            {{ block('list_scopes') -}}

            {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:results.html.twig') }}
        </div>
        
        {{ echo_block("filters") }}
        {% if builder.filterColumns|length > 0 %}
            <div class="span3">
                {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:filters.html.twig') }}
            </div>
        {% endif %}
        {{ echo_endblock() }}
    </div>
    {{- block('nestedset_modal') -}}
{{ echo_endblock() }}
