{% block csrf_protection_use %}
use Symfony\Component\Security\Core\Exception\InvalidCsrfTokenException;
{% endblock %}

{% block csrf_check_token %}

    /**
     * Check crsf token provided for action
     *
     * @throw InvalidCsrfTokenException if token is invalid
     */
    protected function isCsrfGeneratedTokenValid($intention)
    {
        $token = $this->getRequest()->request->get('_csrf_token');
        if (!$this->isCsrfTokenValid($intention, $token)) {
            throw new InvalidCsrfTokenException();
        }
    }

{% endblock %}

{% block csrf_action_check_token %}
// Check CSRF token for action
$intention = $this->getRequest()->getRequestUri();
$this->isCsrfGeneratedTokenValid($intention);
{% endblock %}

{% block csrf_action_check_batch_token %}
// Check CSRF token for batch action
$intention = '{{ namespace_prefix }}_{{ bundle_name ~ (builder.BaseGeneratorName ? '_' ~ builder.BaseGeneratorName :'')}}_batch';
$this->isCsrfGeneratedTokenValid($intention);
{% endblock %}
