{% block generic_actions %}
    {{ echo_block("generic_actions") }}
    {% if builder.Actions|length > 0 %}
        {% for action in builder.Actions %}
            {{ echo_block("generic_action_" ~ action.twigName) }}
                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_if_granted(action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') ) }}
                {% endif %}

                {% if action.conditionalFunction %}
                    {{ echo_if((action.conditionalInverse ? 'not ' : '') ~ builder.ModelClass ~ "." ~ action.conditionalFunction ~ '(' ~ action.conditionalParameters|join(',') ~')') }}
                {% endif %}

                {{ block('generic_action_block') }}

                {% if action.conditionalFunction %}
                    {{ echo_endif() }}
                {% endif %}

                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_endif() }}
                {% endif %}
            {{ echo_endblock() }}
        {% endfor %}
        {{ block('generic_actions_script') }}
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}

{% block generic_action_block %}
    {% set actionRoute = action.route ? action.route : (builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name) %}
    {% set actionParams = action.params ? echo_twig_assoc(action.params) : "{}" %}
    {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}

    {% if action.submit %}
        <button type="submit" name="{{ action.name }}" class="{{ action.name }} {{ action.class|default('') }}"
            {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain) }}"{% endif %}>
            {%- if action.icon %}<i class="{{ action.icon ? action.icon : 'i_' ~ action.name }}"></i> {% endif %}{{ echo_trans(action.label, {}, translationDomain) }}
        </button>
    {% else %}
        {# TODO сделать универсальную структуру для link_icon button_link #}
        <a class="{{ action.icon ? action.icon : 'i_' ~ action.name }} {{ action.class|default('') }}" href="{{ echo_path(actionRoute, actionParams) }}"
            {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain) }}"{% endif %}
            {%- if action.csrfProtected %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%}>
            <i class="{{ action.icon ? action.icon : 'i_' ~ action.name }}"></i>
            {{- echo_trans(action.label, {}, translationDomain) -}}
        </a>
    {% endif %}
{% endblock %}

{% block action_short_table %}
    {% set translationDomain = 'Admingenerator' %}

    {{ echo_if("app.request.cookies.get('state') == 'full'") }}
        <a class="link_short_table link_icon" href="#" onClick="setCookie('hide')">
            {# вместо "1" прописать условие проверяющее состояние таблицы  (расширенное, сокращенное) !!!!!!! #}
            <i class="i_short-table"></i>
            {{- echo_trans(( 'action.generic.short-table' ), {}, translationDomain) -}}
        </a>
    {{ echo_else() }}
        <a class="link_short_table link_icon" href="#" onClick="setCookie('full')">
            <i class="i_table"></i>
            {{- echo_trans(('action.generic.complete-table'), {}, translationDomain) -}}
        </a>
    {{ echo_endif() }}

    <script>
        function setCookie(value) {
            var cookie = 'twig_cookie_' + location.href;
            document.cookie = "state=" + value + "; path = " + cookie;
            location.reload();
        }
    </script>
{% endblock action_short_table %}

{% block generic_actions_script %}
    {{ echo_block("generic_actions_script") }}
    {% if builder.Actions is defined and builder.Actions|length > 0 %}
        <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/generic-actions.js")') }}"></script>
        <script type="text/javascript">
            ;(function(window, $, undefined) {
                $("#generic_actions").agen$genericActions({
                    actionsSelector: 'a.btn'
                });
            })(this, jQuery);
        </script>
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}