{% block tabs %}
{{ echo_block("form_tabs") }}
{% if tabs is defined and tabs|length > 0 %}
    <div class="tabs">
        {{ echo_block("form_tabs_content") }}
        {% for name, tab in tabs %}
            {{ echo_block("form_tabs_" ~ name|replace({'.': '_'})) }}
            {% spaceless %}
                {% set fields = [] %}
                {% for fieldsetName, fieldset in tab %}
                    {% for key, value in fieldset %}
                        {% set fields = fields|merge([value]) %}
                    {% endfor %}
                {% endfor %}
            {% endspaceless %}
            {{ echo_set('fields', '["' ~ fields|join('","') ~ '"]', false) }}
            {{ echo_set('hasErrors', 'false', false) }}
            {{ echo_set('empty', 'true', false) }}
            {{ echo_for('field', 'fields if form[field] is defined') }}
                {{ echo_set('empty', 'false', false) }}
                {{ echo_if('_self.checkErrors(form[field])|trim') }}
                    {{ echo_set('hasErrors', 'true', false) }}
                {{ echo_endif() }}
            {{ echo_endfor() }}
            {{ echo_if('not empty') }}
                {% set dataTab -%}
                    {% for fieldsetName, fieldset in tab -%}
                        {{ '.form_fieldset_' ~ fieldsetName|classify|replace({'.': '_'}) -}}
                        {% if not loop.last %},{% endif -%}
                    {% endfor -%}
                {% endset -%}
                <a href="#" data-tab="{{ dataTab }}" class="{{ echo_twig('hasErrors ? "has_error"') }}">
                    {{- echo_trans(name, {}, i18n_catalog|default("Admin") ) -}}
                </a>
            {{ echo_endif () }}
            {{ echo_endblock("form_tabs_" ~ name|replace({'.': '_'})) }}
        {% endfor %}
        {{ echo_endblock("form_tabs_content") }}
        {{ echo_block("form_tabs_check_errors_macro") }}
            {{ '{% macro checkErrors(form) -%}' }}
                {{ echo_if('form.children is not empty') }}
                    {{ echo_for('child', 'form') }}
                        {{ echo_twig('_self.checkErrors(child)') }}
                    {{ echo_endfor() }}
                {{ echo_else() }}
                    {{ echo_twig('form.vars.errors|length ? "error"') }}
                {{ echo_endif() }}
            {{ '{% endmacro %}' }}
        {{ echo_endblock("form_tabs_check_errors_macro") }}
    </div>
    <script type="text/javascript">
       /* ;(function(window, $, undefined){
            $(function() {
                $('.form_tabs.nav.nav-tabs a:first').tab('show');
                $('input[type=submit],button[type=submit]').on('click', function(e){
                    $('.form_tabs.nav.nav-tabs li').each(function(i){
                        $(this).find('a span.badge-important').remove();
                        invalid_items = $('fieldset'+$(this).find('a:first').data('target')).find(':invalid');
                        if(invalid_items.length>0){
                            $(this).find('a:first').append('<span class="badge badge-important">'+invalid_items.length+'</span>');
                        }
                    });
                });          
            });
        })(this, jQuery);*/
    </script>
{% endif %}
{{ echo_endblock() }}
{% endblock %}