{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/ListTemplate/scopes.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    <header>
        <h1>{{ echo_trans(title,{}, i18n_catalog|default("Admin") ) }} ({{ echo_twig(builder.ModelClass ~ "s.nbResults") }})</h1>
    </header>

    
    <div class="admin_list main_content{% if builder.filterColumns|length > 0 %} has_fiters{% endif %}">
        {{ echo_block("filters") }}
            {% if builder.filterColumns|length > 0 %}
                {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:filters.html.twig') }}
            {% endif %}
        {{ echo_endblock() }}
        
        {{- block('list_scopes') -}} {# TODO #}
        
        {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:results.html.twig') }}
    </div>

{{ echo_endblock() }}
